.App h1{
  text-align: center;
  color: #72e751;
}

.container{
  display: flex;
  gap: 10px; /*espacio entre cada card*/
  flex-wrap: wrap;/*para q cuando el tmño de la tarjeta supere el tmñn horisontal disponi las coloque debajo*/
  justify-content: center;
}